html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    height: 100%;
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 34px 3rem auto;
}

.container header {
    display: grid;
    grid-template-columns: auto min-content;
    background-color: #3a3a3a;
}

.container header strong {
    -webkit-app-region: drag;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding: 8px;
}

.container header strong span {
    color: red;
}

.container nav {
    justify-self: right;
    padding: 8px;
}

.container nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container nav ul li {
    display: table-cell;
    padding-left: 8px;
    cursor: pointer;
}

.container nav ul li img {
    width: 12px;
}

#btn-bar {
    height: 3rem;
    visibility: hidden;
    padding: 0.32em;    
}

#btn-bar div {
    display: inline-block;
}

#btn-bar div label {
    border: 1px solid #8f8f8f;
    border-radius: 5px;
}
#btn-bar div label:hover {
    background-color: rgba(125, 205, 255, .5);
}

main {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

main canvas {
    width: 100%;
    height: 100%;
}

main figure {
    margin: 0;
}

main .tools {
    justify-self: right;
}

main .tools strong {
    font-size: 2.2em;
    display: block;
}

main .tools span {
    color: gray;
    font-size: .8em;
    float: right;
}